html {
  scroll-behavior: smooth;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  width: 100%;
  position: absolute;
}

.spinner {
  height: 6rem;
  width: 6rem;
  background-color: #ffffff00;
  border: 1rem solid #cfdbe4;
  border-top-color: #67a2cd;
  border-radius: 50%;
  animation: spin 1s ease forwards infinite;
}

.spinner-1 {
  height: 6rem;
  width: 6rem;
  background-color: #ffffff00;
  border: 1rem solid #cfdbe4;
  border-top-color: #aaaaaa;
  border-radius: 50%;
  animation: spin 1s ease forwards infinite;
}
.small-spinner {
  height: 2rem;
  width: 2rem;
  background-color: #ffffff00;
  border: 0.425rem solid #cfdbe4;
  border-top-color: #67a2cd;
  border-radius: 50%;
  animation: spin 1s ease forwards infinite;
}

.notification {
  animation: exit 0.5s ease forwards;
}

.notification-active {
  animation: enter 0.5s ease forwards;
}

@keyframes enter {
  0% {
    transform: translateY(-5rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes exit {
  100% {
    transform: translateY(-5rem);
  }
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

.min-h-96 {
  min-height: 24rem;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: #67a2cd;
  border-radius: 2px;
}
