html {
  scroll-behavior: smooth;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  width: 100%;
  position: absolute;
}

.spinner {
  height: 6rem;
  width: 6rem;
  background-color: #083041;
  border: 1rem solid #cfdbe4;
  border-top-color: #67a2cd;
  border-radius: 50%;
  animation: spin 1s ease forwards infinite;
}

@keyframes spin {
  0% {
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  0% {
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

.min-h-96 {
  min-height: 24rem;
}
