html {
  scroll-behavior: smooth;
}

.spinner {
  height: 6rem;
  width: 6rem;
  background-color: #083041;
  border: 1rem solid #cfdbe4;
  border-top-color: #67a2cd;
  border-radius: 50%;
  animation: spin 1s ease forwards infinite;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
